# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os


# Import API key
from config import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
# File to Load 
csv_file = ("../WeatherPy/Output_data/Cities.csv")

# Read file and store into Pandas data frame
city_maps_df = pd.read_csv(csv_file)

city_maps_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Bambous Virieux,-20.3428,57.7575,79.00,100,75,14.97,MU,1619514532
1,Albany,42.6001,-73.9662,41.00,47,98,4.83,US,1619514823
2,Ushuaia,-54.8000,-68.3000,41.00,87,75,2.30,AR,1619514823
3,Mataura,-46.1927,168.8643,43.00,87,98,1.01,NZ,1619514823
4,Kavaratti,10.5669,72.6420,84.99,72,100,5.59,IN,1619514823
...,...,...,...,...,...,...,...,...,...
515,Carutapera,-1.1950,-46.0200,74.77,92,62,3.69,BR,1619514896
516,Oruzgan,32.8333,66.0000,82.90,9,6,11.50,AF,1619514896
517,Kloulklubed,7.0419,134.2556,82.40,78,75,5.75,PW,1619514897
518,Guerrero Negro,27.9769,-114.0611,57.88,80,7,11.79,MX,1619514897
519,Lençóis Paulista,-22.5986,-48.8003,63.00,95,22,1.99,BR,1619514897

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Configure gmaps with API key
gmaps.configure(api_key=g_key)

In [4]:
# Create variables for map 
locations = city_maps_df[["Lat", "Lng"]].astype(float)
weights = city_maps_df["Humidity"]

In [5]:
# Create a poverty Heatmap layer
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=weights, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 3)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [6]:
reduced_weather_df = city_maps_df[city_maps_df["Max Temp"]>70]
reduced_weather_df = reduced_weather_df[reduced_weather_df["Max Temp"]<80]
reduced_weather_df = reduced_weather_df[reduced_weather_df["Wind Speed"]<10]
reduced_weather_df = reduced_weather_df[reduced_weather_df["Cloudiness"]<10]

reduced_weather_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
7,Busselton,-33.6500,115.3333,73.99,64,5,1.99,AU,1619514824
46,Coahuayana Viejo,18.7333,-103.6833,70.79,62,8,2.53,MX,1619514830
114,Dzilam González,21.2833,-88.9333,72.10,92,0,5.86,MX,1619514839
121,Tautira,-17.7333,-149.1500,78.80,78,0,1.14,PF,1619514840
195,Vila Velha,-20.3297,-40.2925,73.40,94,0,2.30,BR,1619514850
230,Bubaque,11.2833,-15.8333,77.72,64,8,7.47,GW,1619514647
236,Peto,20.1333,-88.9167,70.43,99,5,2.84,MX,1619514857
300,Andros Town,24.7000,-77.7667,73.40,68,0,9.22,BS,1619514865
340,Caravelas,-17.7125,-39.2481,72.05,86,5,5.26,BR,1619514871
348,Nago,26.5881,127.9761,77.00,38,1,5.75,JP,1619514872
352,Wahiawā,21.5028,-158.0236,71.01,88,1,2.35,US,1619514874
395,Aksu,41.1231,80.2644,75.58,11,0,5.10,CN,1619514879
470,La Ceiba,15.7597,-86.7822,76.42,75,6,3.15,HN,1619514890

In [7]:
reduced_weather_df = reduced_weather_df.dropna(how="any")

reduced_weather_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
7,Busselton,-33.6500,115.3333,73.99,64,5,1.99,AU,1619514824
46,Coahuayana Viejo,18.7333,-103.6833,70.79,62,8,2.53,MX,1619514830
114,Dzilam González,21.2833,-88.9333,72.10,92,0,5.86,MX,1619514839
121,Tautira,-17.7333,-149.1500,78.80,78,0,1.14,PF,1619514840
195,Vila Velha,-20.3297,-40.2925,73.40,94,0,2.30,BR,1619514850
230,Bubaque,11.2833,-15.8333,77.72,64,8,7.47,GW,1619514647
236,Peto,20.1333,-88.9167,70.43,99,5,2.84,MX,1619514857
300,Andros Town,24.7000,-77.7667,73.40,68,0,9.22,BS,1619514865
340,Caravelas,-17.7125,-39.2481,72.05,86,5,5.26,BR,1619514871
348,Nago,26.5881,127.9761,77.00,38,1,5.75,JP,1619514872
352,Wahiawā,21.5028,-158.0236,71.01,88,1,2.35,US,1619514874
395,Aksu,41.1231,80.2644,75.58,11,0,5.10,CN,1619514879
470,La Ceiba,15.7597,-86.7822,76.42,75,6,3.15,HN,1619514890

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [8]:
hotel_df = reduced_weather_df
hotel_df['Hotel Name'] = ""
hotel_df = hotel_df.reset_index(drop=True)

hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
0,Busselton,-33.6500,115.3333,73.99,64,5,1.99,AU,1619514824,
1,Coahuayana Viejo,18.7333,-103.6833,70.79,62,8,2.53,MX,1619514830,
2,Dzilam González,21.2833,-88.9333,72.10,92,0,5.86,MX,1619514839,
3,Tautira,-17.7333,-149.1500,78.80,78,0,1.14,PF,1619514840,
4,Vila Velha,-20.3297,-40.2925,73.40,94,0,2.30,BR,1619514850,
5,Bubaque,11.2833,-15.8333,77.72,64,8,7.47,GW,1619514647,
6,Peto,20.1333,-88.9167,70.43,99,5,2.84,MX,1619514857,
7,Andros Town,24.7000,-77.7667,73.40,68,0,9.22,BS,1619514865,
8,Caravelas,-17.7125,-39.2481,72.05,86,5,5.26,BR,1619514871,
9,Nago,26.5881,127.9761,77.00,38,1,5.75,JP,1619514872,
10,Wahiawā,21.5028,-158.0236,71.01,88,1,2.35,US,1619514874,
11,Aksu,41.1231,80.2644,75.58,11,0,5.10,CN,1619514879,
12,La Ceiba,15.7597,-86.7822,76.42,75,6,3.15,HN,1619514890,

In [9]:
# for index, row in hotel_df.iterrows():
#     print(f"index: {index}")
#     print(f"row: {row}")
#     print("-----------")

In [10]:
import json

base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

params = {  
    "rankby": "distance",
    "type": "lodging",
    "key": g_key,
}

# use iterrows to iterate through pandas dataframe
for index, row in hotel_df.iterrows():
        
    params["location"]="{},{}".format(hotel_df.loc[index, 'Lat'],hotel_df.loc[index, 'Lng'])
    
    response = requests.get(base_url, params=params).json()
    
    try:
    
        hotel_name = response["results"][0]["name"]
    
        hotel_df.loc[index, 'Hotel Name'] = hotel_name
        
    except:
        print("Missing field...skipping")
        
hotel_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
0,Busselton,-33.6500,115.3333,73.99,64,5,1.99,AU,1619514824,Pearls Place
1,Coahuayana Viejo,18.7333,-103.6833,70.79,62,8,2.53,MX,1619514830,El rranchito michuacan de ocampos
2,Dzilam González,21.2833,-88.9333,72.10,92,0,5.86,MX,1619514839,posadas
3,Tautira,-17.7333,-149.1500,78.80,78,0,1.14,PF,1619514840,Pension Oaoa
4,Vila Velha,-20.3297,-40.2925,73.40,94,0,2.30,BR,1619514850,Hostel da Prainha

In [11]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [12]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(markers)

fig

Figure(layout=FigureLayout(height='420px'))